#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}


.Card{
  width: 35rem;
  /* border: solid red; */
  margin: 10rem auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Product */
.productCard{
  width: 22rem;
  /* border: solid red; */
  margin: 1rem auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

